.navbar {
    background-color: var(--navbar-background-color);
    overflow: hidden;
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
  }
  
  .rest-of-the-buttons {
    display: flex;
    align-items: center;
  }
  
  .navbar a {
    color: var(--navbar-text-color);
    text-decoration: none;
    padding: 14px 16px;
  }
  
  .navbar a:hover {
    background-color: var(--navbar-btn-hover-color);
  }

  /* Dropdown menu styles */
.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: var(--navbar-text-color);
    background-color: inherit;
    margin: 0;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--navbar-dropdown-menu-background-color); /* Dark background color with transparency */
    border: 1px solid var(--navbar-dropdown-frame-color); /* Border for the dropdown content */
    border-top: none; /* Remove top border for the dropdown content */
    border-radius: 0 0 8px 8px; /* Rounded edges at the bottom of the dropdown menu */
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: var(--navbar-dropdown-text-color); /* Text color for dropdown content */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: var(--navbar-dropdown-onhover-bg-color); /* Hover background color for dropdown content */
  }
  
  .dropdown-content .more-btn {
    border-radius: 0 0 8px 8px; /* Rounded bottom edges for the "More" button */
    padding: 10px 16px; /* Adjusted padding for the "More" button */
    width: 100%; /* Make the "More" button fill the entire width */
    text-align: left; /* Align text to the left within the "More" button */
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Sign In button style */
  .sign-in-btn {
    background-color: var(--prominent-btn); /* Green color for Sign In button */
    color: var(--special-btn-text-color);
    border: none;
    outline: none;
    padding: 10px 20px; /* Padding for the button */
    text-decoration: none;
    border-radius: 5px; /* Rounded corners for the Sign In button */
    box-sizing: border-box; /* Include padding in button width */
    margin-top: -15px; /* Negative margin to adjust the position */
    margin-left: 50px;
  }
  
  .sign-in-btn:hover {
    background-color: var(--prominent-btn-hover) !important; /* Darker green color on hover */
  }

  .more-btn:hover {
    border-radius: 0 0 8px 8px;
  }
  
  /* Logo styling */
  /* .logo {
    display: inline-block;
    width: auto;
    height: 50px; 
    background-size: contain;
    margin-right: 50px;
    vertical-align: middle;
  } */
  
  .logo {
    display: flex; /* Use flex to align the image */
    align-items: center; /* Center the image vertically */
    padding: 0 !important; /* Adjust padding as needed */
    margin:0;
    border: 0;
  }
  
  .logo-img {
    height: 100px; /* Maintain the aspect ratio */
    width: auto; /* Adjust width as needed */
    max-height: 100%; /* Ensure the image is not taller than the navbar */
    margin-bottom: 0;
    border: 0;
  }