.signin-container {
    background-color: var(--bodycolor-color); /* Dark background color */
    color: var(--body-text-color); /* Text color */
    padding: 20px;
    text-align: center;
    padding-bottom: 100%;
  }
  
  .signin-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--general-frame-color);
    background-color: var(--general-textbox-bg-color);
    color: var(--body-text-color);
    box-sizing: border-box; /* Include padding in input width */
  }
  
  .form-group input:focus {
    outline: none;
  }
  
  .form-group input::placeholder {
    color: var(--body-text-color);
  }
  
  .form-group input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .social-login {
    margin-bottom: 15px;
  }
  
  .linkedin-btn,
  .google-btn {
    background-color: var(--linkedin-btn); /* LinkedIn color */
    color: var(--special-btn-text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .linkedin-btn:hover,
  .google-btn:hover {
    background-color: var(--linkedin-btn-hover); /* Darker LinkedIn color on hover */
  }
  
  .forgot-password {
    margin-bottom: 15px;
    color: var(--body-text-color)
  }
  
  .register p {
    margin-bottom: 0;
  }
  
  .register-link {
    color: var(--body-text-color);
    text-decoration: underline;
  }
  
  .register-link:hover {
    color: var(--body-text-link-hover); /* Lighter color on hover */
  }
  
  .error-message {
    color: red; /* Set the color to red */
    margin-top: 10px; /* Add some top margin for spacing */
    margin-bottom: 10px;
  }